* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #f4f4f4;
  --card-back: #2c3e50;
  --card-front: #ecf0f1;
  --match-color: #27ae60;
  --text-color: #2c3e50;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

#app {
  width: 100%;
  max-width: 800px;
  height: 100%;
  padding: 20px 10px;
}

/****** Error bar ******/
.error-bar {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.4s ease-out;
  transition: ease-in-out 0.3s;
}

.error-bar.hidden {
  animation: slideUp 0.4s ease-in;
}

.close-error {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  line-height: 1;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}

/****** Header container styles ******/
.game-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: 20px 0;
}

.game-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: bold;
}

.game-icon {
  width: 35px;
  height: 35px;
}

.user-menu {
  position: relative;
  cursor: pointer;
}

.avatar {
  width: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #3498db;
  transition: transform 0.2s;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* cursor: pointer; */
}

.avatar:hover {
  transform: scale(1.05);
}

.dropdown-list {
  position: absolute;
  top: 55px;
  right: 0;
  background: white;
  min-width: 150px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  list-style: none;
  padding: 10px 0;
  z-index: 1000;
}

.dropdown-list li {
  padding: 10px 20px;
  font-size: 0.9rem;
  color: #333;
  transition: background 0.2s;
}

.dropdown-list li:hover {
  background: #f8f9fa;
}

#logout-btn {
  color: #e74c3c;
  font-weight: bold;
}

.hidden {
  display: none;
}

/****** Game info box styles ******/
#game-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: #f8f9fa;
  border-radius: 8px;
  border: 1px solid #e9ecef;
}

.stat-box .label {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #6c757d;
  font-weight: bold;
  margin-bottom: 5px;
}

.stat-box .value {
  font-size: 1.2rem;
  font-weight: 800;
  color: #2c3e50;
}

/****** Game board styles ******/
#game-board {
  aspect-ratio: 1 / 1;
  height: 50%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  margin: 20px auto;
}

.card {
  aspect-ratio: 1 / 1;
  background-color: var(--card-back);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  transition: transform 0.3s, background-color 0.3s;
  user-select: none;
  overflow: hidden;
}

.card img {
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; /* Prevents image dragging */
}

.card.flipped img,
.card.matched img {
  opacity: 1;
}
.card.flipped {
  background-color: var(--card-front);
  transform: rotateY(180deg);
}

.card.matched {
  cursor: default;
}

.secondary-btn {
  width: 100%;
  padding: 15px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.secondary-btn > span {
  font-size: 1.3rem;
}

.secondary-btn:hover {
  background-color: #c0392b;
}

/*********** Tablet & Desktop adjustments ***********/
@media (min-width: 600px) {
  .game-icon {
    width: 85px;
    height: 85px;
  }

  .game-title {
    font-size: 4rem;
  }

  .avatar {
    width: 60px;
  }

  #game-info {
    grid-template-columns: repeat(4, 1fr);
  }

  .stat-box .label {
    font-size: 1rem;
  }

  .stat-box .value {
    font-size: 1.7rem;
  }

  #game-board {
    gap: 10px;
  }

  .card {
    font-size: 4rem;
    border-radius: 8px;
  }

  .secondary-btn {
    height: 50px;
  }
}
